/* CSS - IE6 - MoH Landing Page - Index */
body { margin-top: 8px;}
#middleNav {
	position: relative;
	top: 459px;
}
#images {
	width: 660px;
	margin-left: 45px;
}
.name { cursor: pointer;}
a.links { margin-left: 40px;}

/* IE 6 Specific Fixes */
ul { margin-left: -4px;}
ul li .name { background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/medalofhonor/text_background.gif) no-repeat;}
#footer { position: absolute;}
#footerWrap {
	width: 680px;
	margin: auto;	
}
#images, #bottomNav, #images ul li, #images ul li a, #images ul { position: relative;}
