/* CSS - IE7 - MoH Landing Page - Index */
body { margin-top: 8px;}
#middleNav { position: relative; top: 459px;}
#images { width: 660px; margin-left: 45px;}
.name { cursor: pointer;}
a.links { margin-left: 40px;}
#images, #bottomNav, #images ul li, #images ul li a, #images ul { position: relative;}
#images { top: -80px; left: -1px;}
#bottomNav .prev, #bottomNav .next { top: -70px;}
#addThis li { padding:2px 0 6px; }