/*Last Updated 2014-04-15 BN - Adding fixes for features bar*/
/* CSS - MoH Landing Page - Index */
 
/* ---- TAGS ---- */
body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
	color: #fff;
	height: 100.01%;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover, a:focus, a:active {
	color: #fff;
	outline: 0;
}
a:focus, a:active { outline: none;}
#images ul {
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	width: 3000px;
}
#images ul li {
  	float: left;
  	padding: 10px;
  	display: block;
  	margin-left: 8px;
  	margin-right: 8px;
}
#images ul li a {
  	display: block;
  	overflow: hidden;
  	height: 84px;
  	width: 84px;
}
#images ul li img { border: 1px solid #666;}

/* ---- ID's ---- */
#a1 { width: 295px;}
#container {
	background-image: url(http://usarmy.vo.llnwd.net/e2/rv5_images/medalofhonor/background.jpg);
	height: 600px;
	width: 760px;
	margin: auto;
	position:relative;
}
#footer {
	color: #666;
	display: block;
	margin: auto;
	padding-top: 10px;
	width: 750px;
	text-align: center;
}
#footer a { color: #fff;}
#footer a:hover, #footer a:focus, #footer a:active { color: #ccc;}
#middleNav {
	margin: auto;
	width: 760px;
	position: relative;
	top: 460px;
	padding-left: 50px;
}
#bottomNav {
	margin: auto;
	height: 120px;
	width: 760px;
	position: relative;
	top: 471px;
}
#bottomNav .prev, #bottomNav .next {
	position: absolute;
	top: 10px;
}
#bottomNav .prev {
	display: block;
	height: 84px;
	width: 35px;
	left: 12px;
}
#bottomNav .next {
	display: block;
	height: 84px;
	width: 35px;
	right: 12px;
}
#images {
	margin: auto;
	width: 678px;
	overflow: hidden;
	position: relative;
	left: 37px;
}

/* ---- CLASSES ---- */
a.links {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	color: #000;
	margin-left: 38px;
	text-transform:uppercase;
}
a.links:hover, a.links:focus, a.links:active { color: #fff;}
.date {
	color: #999;
	display: block;
	margin-top: 1px;
}
.imageText { display: none;}
.link {
	display: block;
	font-size: 0.9em;
	margin-top: 14px;
}
.next, .prev { cursor: pointer;}
ul li .name {
  	background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/medalofhonor/text_background.png) no-repeat;
	color: #fff;
    margin-left: 90px;
	margin-top: 2px;
	padding-left: 8px;
  	padding-top: 12px;
  	height: 80px;
  	width: 205px;
  	display: block;
  	font-size: 1.2em;
	position: relative;
	top: -84px;
}
/* ---- SKIP Navigation and other Items needing to be VISUALLY off the page ---- */
.skip {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.skip2 a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #fff;} 
.skip2 a:active, .skip2 a:focus { background: #000; position: static; width: auto; height: auto; padding: 1em; margin: auto;}
/* ---- End of SKIP Navigation ---- */

#homeStarLogo { 
	position: relative;
	float: right;
	top: 350px;
	right: 10px;
	width: 70px;
	height: 80px;
}

#header { position:relative; }
#indexSocialButtons { position:absolute; right:10px; }
#plusContain, #likeContain { float:left; clear:none; }
#plusContain { margin-right:10px; }

/*-------------- Social Widget CSS --------------*/
#addThis a { color:#fff; }
#addThis h2,#shareClose { display:none; }
#addThis { letter-spacing:0; font-size: 1.15em; font-weight:bold; float:left; width:734px; border:1px solid #454545; margin:0.5em 0 1.5em;  text-align:left; padding:7px; }
#addThis ul { display:block; float:left; list-style:none outside none; width:100%; margin:0; padding:2px 0; background:#202022; }
#addThis li { float:left; width:15.9%; margin:2px 0 2px 4px; padding:0; background:#1a1a1b; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.share_sprite .textLink { float:left; margin-left:23px; width:80px; display:block; }
.share_sprite { display:inline; float:left; height:16px; width:16px; margin:4px; }
#tops .share_sprite .textLink { width:80px; }

.facebook { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; }
.all { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
.share_sprite .textLink:hover,.share_sprite .textLink:focus,.share_sprite .textLink:active { color:#fff; cursor:pointer; }

#addThis ul li a { width:100%; }
#addThis ul li:hover a, #addThis ul li:focus a, #addThis ul li:active a { color:#fff; }
#addThis ul li:hover, #addThis ul li:focus, #addThis ul li:active { background-color:#000; }

/*-------------- /Social Widget CSS --------------*/